@model IEnumerable<MVC_ThirdMethod.Models.StudentDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            studentId
        </th>
        <th>
            name
        </th>
        <th>
            eMail
        </th>
        <th>
            password
        </th>
        <th>
            course
        </th>
        <th>
            district
        </th>
        <th>
            gender
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.studentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eMail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.course)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.district)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.studentId  }) |
            @Html.ActionLink("Details", "Details", new { id=item.studentId  }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.studentId  })
        </td>
    </tr>
}

</table>
